:host {
    display: block;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

.toast-item {
    animation: slide-in 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}