.admin-layout {
    display: flex;
    min-height: 100vh;
}

.content-area {
    flex-grow: 1;
    margin-left: 280px;
    /* Sidebar width */
    padding: 0 var(--spacing-lg) var(--spacing-lg);
    display: flex;
    flex-direction: column;
}

.page-container {
    flex-grow: 1;
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}